.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-cards {
    display: flex;
    margin: 0 auto;
}

.card {
    border: 1px solid rgb(240, 233, 233);
    width: 350px;
    height: 450px;
    border-radius: 15px;
    background: #FFFFFF;
}

.card:hover {
    transition: 1s ease all;
    background: #9094EB;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    color: #FFFFFF;
}

.title {
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 30px;
}

.price {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 233, 233);
    margin-left: 32px;
    margin-right: 32px;
}

.storage,
.allowed,
.send {
    font-size: 20px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgb(240, 233, 233);
    margin-top: 15px;
    margin-left: 32px;
    margin-right: 32px;
}

.btn {
    margin-top: 30px;
    width: 282px;
    height: 40px;
    border-radius: 8px;
    background: #9094EB;
    color: aliceblue;
    border: none;
}

.btn:hover {
    width: 282px;
    height: 40px;
    border-radius: 8px;
    background: #FFFFFF;
    color: #9094EB;
    cursor: pointer;
}

@media (max-width: 390px) {
    .container-cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }

    .btn:hover {
        height: 30px;
        cursor: pointer;
    }
}

@media (max-width: 450px) {
    .container-cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }
    .card:hover {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .btn:hover {
        cursor: pointer;
    }

}

@media (max-width: 1000px) {
    .card {
        width: 250px;
        height: 400px;
    }

    .btn {
        margin-top: 15px;
        width: 205px;
        height: 30px;
    }

    .btn:hover {
        cursor: pointer;
    }

}